body{
	background-color:#333;
	color:#fff;
}

.navbar{
	border-bottom:3px solid #008ed6;
	background-color:#292b2c;
	opacity:0.7;
}
#section-home{
	background:url('../img/home-img.jpeg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.dark-overlay{
	background:rgba(0,0,0,0.7);
}
#section-home .fa-check{
	background-color:#fff;
	color:#007BFF;
	padding:5px;
	font-size:40px;
	border-radius:5px;
}
.card-form{
	opacity:0.8;
}
.home-inner{
	padding-top:150px;
	padding-bottom:50px;
}
@media(max-width:768px){
	#section-home h1{
		font-size:36px;
	}
}
/* explore section */
#explore-main-section .fa-check{
	font-size:30px;
	background-color:#333333;
	color:#fff;
	padding:5px;
	border-radius:5px;
}
#create-main-section .fa-check{
	font-size:30px;
	background-color:#fff;
	color:#000;
	padding:5px;
	border-radius:5px;
}



#logo3{
	height:50px;
}